# KNN

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [5]:
dataset = pd.read_csv("/Users/yik-cheunglau/OneDrive - Washington University in St. Louis/Leetcode Algorithm/Machine Learning Algorithm/KNN/Smarket.csv")
dataset.head(5)

,Unnamed: 0,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction
0,1,2001,0.381,-0.192,-2.624,-1.055,5.010,1.1913,0.959,Up
1,2,2001,0.959,0.381,-0.192,-2.624,-1.055,1.2965,1.032,Up
2,3,2001,1.032,0.959,0.381,-0.192,-2.624,1.4112,-0.623,Down
3,4,2001,-0.623,1.032,0.959,0.381,-0.192,1.2760,0.614,Up
4,5,2001,0.614,-0.623,1.032,0.959,0.381,1.2057,0.213,Up

### Split Training and Testing dataset

In [8]:
train_X = np.array(dataset[dataset["Year"] < 2005][["Lag1", "Lag2"]])
test_X = np.array(dataset[dataset["Year"] >= 2005][["Lag1", "Lag2"]])

train_y = np.array(dataset[dataset["Year"] < 2005][["Direction"]])
test_y = np.array(dataset[dataset["Year"] >= 2005][["Direction"]])

In [20]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(train_X, train_y)

<ipython-input-20-4fb209719bbc>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(train_X, train_y)

KNeighborsClassifier(n_neighbors=1)

### Prediction

In [21]:
predicted = knn.predict(test_X)

In [22]:
print(classification_report(test_y, predicted))
print("Accuarcy is:", str(round(accuracy_score(test_y, predicted),4)*100)+"%")

              precision    recall  f1-score   support

        Down       0.43      0.39      0.41       111
          Up       0.55      0.59      0.57       141

    accuracy                           0.50       252
   macro avg       0.49      0.49      0.49       252
weighted avg       0.50      0.50      0.50       252

Accuarcy is: 50.0%